body {
    font-family: Arial;
    background: #111827;
    color: white;
}

.container {
    width: 80%;
    margin: auto;
}

.card {
    background: #1f2937;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

#response {
    margin-top: 20px;
}